@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  @apply flex h-screen overflow-hidden bg-[whitesmoke];
}

main {
  @apply flex-1;
}

a {
  @apply inline-block;
}

/* Storybook Style */
.sbdocs-content {
  @apply mx-auto !max-w-[1920px];
}

/* nav.breadcrumb {
  padding: 0.8em 1em;
  border: 1px solid hsl(0deg 0% 90%);
  border-radius: 4px;
  background: hsl(300deg 14% 97%);
} */

/* nav.breadcrumb ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
} */

nav.breadcrumb li {
  display: inline;
  font-size: 14px;
  color: #6a6a6a;
}

nav.breadcrumb li + li::before {
  display: inline-block;
  margin: 0 0.5em;
  transform: rotate(15deg);
  border-right: 0.1em solid currentcolor;
  height: 0.8em;
  content: "";
}

nav.breadcrumb [aria-current="page"] {
  text-decoration: none;
  pointer-events: none;
}

.btn-shadow {
  box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.15);
}

select {
  appearance: none;
}
